.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: column;
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.poengtabell {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    min-height: 15px;
    list-style-type: none;
}

.poengtabell > * {
    border: 1px solid white;
    width: 200px;
}

.totalsum {
    border-top: 1px solid white;
}

.nyePoeng {
    width: 300px;
}

.leggTilNyePoeng {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nyePoengTittel {
    margin-bottom: 20px;
}
