.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: column;
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.poengtabell {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    min-height: 15px;
    list-style-type: none;
    grid-gap: 0.5rem;
}

.poengtabell > * {
    border: 1px solid white;
    width: 200px;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.totalsum {
    border-top: 1px solid white;
}

.nyePoeng {
    width: 300px;
}
.nyePoengTittel {
    margin-bottom: 20px;
}

.modal {
    width: 60%;
    margin: 0 auto;
    background-color: #282c34;
    padding: 3rem;
    color: white;
}

.spillere {
    width: 60%;
    display: flex;
    margin-bottom: 1rem;
}

.spillere > *,
.melder,
.velgLag {
    border: 2px solid aqua;
    border-radius: 4px;
    padding: 1rem;
    margin-right: 2rem;
}

.modal .melder.valgt,
.modal .velgLag.paLag {
    border-color: white;
    background-color: #ba1515;
    color: white;
}

input[type='radio'] {
    display: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slagIkon {
    width: 50px;
}

.melding {
    display: flex;
}

.melding .slag label {
    margin-right: 2rem;
}

.inputNyePoeng {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: 2rem;
    text-align: right;
}

.hvemMelder {
    display: flex;
}

.hvemKommerPaLag {
    display: flex;
    margin-bottom: 4rem;
}

h2,
h3 {
    margin-bottom: 1rem;
}

.knapp {
    -webkit-appearance: none;
    padding: 1rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    background-color: #ba1515;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .knapp {
    margin-right: 2rem;
}

.knapp.avbryt {
    background-color: white;
    border: 2px solid #282c34;
    color: #282c34;
}

.knappContainer {
    margin-bottom: 1rem;
}

.poengContainer {
    display: flex;
    justify-content: center;
}

.poengContainer > * {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.poengContainer .melding {
    width: 100%;
}

.poengContainer .slagIkon {
    margin-right: 0.5rem;
}

.poengContainer .poeng.lag {
    border: 1px solid red;
    border-radius: 45px;
}

.poengContainer .poeng.lag.rundeMelder {
    border-width: 2px;
    box-sizing: border-box;
}

.klarteLagetDetRadio {
    border: 1px solid aqua;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
}
