.hvemDelerInfo {
    display: flex;
    align-items: center;
}

.delerIkon {
    font-size: 2rem;
    margin-right: 8px;
}

.slagIkon {
    width: 3rem;
}

.slag {
    display: flex;
    margin-bottom: 1rem;
}

.slag .valgt {
    border-color: #ba1515;
}

.slag label {
    border: 4px solid transparent;
    border-radius: 45px;
}

.melding {
    display: flex;
    flex-direction: column;
}

.melding .slag label {
    margin-right: 2rem;
    height: 3rem;
}

.inputNyePoeng {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    width: 2rem;
    text-align: right;
}

.hvemKommerPaLag {
    margin-bottom: 2rem;
}

@media screen and (min-width: 500px) {
    .melding {
        flex-direction: row;
    }

    .slag {
        margin-bottom: 0;
    }
}
